.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background: rgba(0, 0, 0, 0.7);
  z-index: 101;
  transition: all 500ms ease-in-out;
  color: white;
}
.header.show {
  background: rgba(0, 0, 0, 0.7);
}
.header.hide {
  background: rgba(0, 0, 0, 0);
}
.header .menu {
  position: relative;
  top:0;
  left:0;
  border: 1px solid rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
  padding: 0.5rem;
  cursor: pointer;
  height: 1.8rem;
  box-sizing: content-box;
}
.header .menu img {
  height: 100%;
  width: auto;
  position: relative;
  top: -0.05rem;
  left: 0;
  /* background: red; */
}
.header .menu:hover {
  background: rgba(0, 0, 0, 0.1);
}
.header .menu i {
  color: rgba(255, 255, 255, 0.619);
  font-size: 1.4rem;
}
.header .right {
  position: absolute;
  top: 0rem;
  right: 1rem;
  /* background: red; */
}
.header .right button {
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  color: white;
  font-size: 1.2rem;
  font-weight: 200;
  cursor: pointer;
  padding: 0.7rem 1rem;
}
.header .right button:hover {
  background-color: rgba(221, 221, 221, 0.137);
}
.header .right span button {
  font-family: Calibri Light;
  font-size: 1.2rem;
  font-weight: 100;
  margin-left: 0.5rem;
}
.header .contact-dialog {
  position: absolute;
  right: 0;
  top: 3.5rem;
  background: white;
  min-width: 14rem;
  border-radius: 5px;
  color: black;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.123);
  border: 1px solid rgba(0, 0, 0, 0.123);
  overflow: hidden;
  display: none;
  opacity: 0;
  transform: translateY(-50%);
  z-index: 2;
}

@keyframes fadeInDialog {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
.header .contact-dialog.show-dialog {
  display: block;
  animation: fadeInDialog 300ms forwards;
}
.header .contact-dialog .contact-item {
  position: relative;
  top: 0;
  width: 100%;
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
.header .contact-dialog a {
  color: black;
  text-decoration: none;
}
.header .contact-dialog .contact-item:active {
  background: #ddd;
}
.header .contact-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.1);
  display: none;
}
.header .contact-bg.show-bg {
  display: block;
}
.header .contact-dialog .contact-item .img {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  overflow: hidden;
}
.header .contact-dialog .contact-item .img img {
  width: 100%;
  height: 100%;
}
.header .contact-dialog .contact-item .type {
  font-size: 1.2rem;
  font-weight: bold;
}
.header .contact-dialog .contact-item .disc {
  font-size: 0.95rem;
  color: gray;
}
@media screen and (max-width: 600px) {
  .header .right button {
    font-size: 1rem;
    margin: 0;
    padding: 0.7rem 0.25rem;
    /* flex:1; */
  }
  .header .right .contact-btn{
    position: absolute;
    top:0.25rem;
    right:0.25rem
  }
  .header .right span{
    width: calc(100% - 4.5rem);
    display: flex;
    /* background:blue; */
  }
  .header .right span button {
    margin: 0rem;
    padding: 0.7rem 0.5rem;
    flex:1;
  }
  .header .right {
    right: 0;
    left: 3rem;
    /* display: flex; */
  }
}
@media screen and (max-width: 435px) {
  .header .right{
    left:2.5rem;
  }
  .header .right span button,.header .right .contact-btn {
    margin: 0;
    padding: 0.7rem 0.25rem;
    font-size:1rem;
  }
  .header .right .contact-btn{
    top:0.05rem;
    font-size:1rem;
    /* background: red; */
  }
}
/* div{
    border:1px solid red;
} */
.header.shadow{
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.295);
}
