.modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  z-index: 3;
}
.modal .post {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border: unset;
  padding:0;
}
